gantenbeina/App_WebReferences/ServiceReference1/UWPCSSEWebservice2018.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://alpha.ion.uwplatt.edu/balcerowskid" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://alpha.ion.uwplatt.edu/balcerowskid" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://alpha.ion.uwplatt.edu/balcerowskid">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGPSData">
        <s:complexType />
      </s:element>
      <s:element name="getGPSDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGPSDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getGPSDataSoapIn">
    <wsdl:part name="parameters" element="tns:getGPSData" />
  </wsdl:message>
  <wsdl:message name="getGPSDataSoapOut">
    <wsdl:part name="parameters" element="tns:getGPSDataResponse" />
  </wsdl:message>
  <wsdl:portType name="UWPCSSEWebService2018Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGPSData">
      <wsdl:input message="tns:getGPSDataSoapIn" />
      <wsdl:output message="tns:getGPSDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UWPCSSEWebService2018Soap" type="tns:UWPCSSEWebService2018Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="https://alpha.ion.uwplatt.edu/balcerowskid/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGPSData">
      <soap:operation soapAction="https://alpha.ion.uwplatt.edu/balcerowskid/getGPSData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UWPCSSEWebService2018Soap12" type="tns:UWPCSSEWebService2018Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="https://alpha.ion.uwplatt.edu/balcerowskid/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGPSData">
      <soap12:operation soapAction="https://alpha.ion.uwplatt.edu/balcerowskid/getGPSData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UWPCSSEWebService2018">
    <wsdl:port name="UWPCSSEWebService2018Soap" binding="tns:UWPCSSEWebService2018Soap">
      <soap:address location="https://alpha.ion.uwplatt.edu/balcerowskid/UWPCSSEWebservice2018.asmx" />
    </wsdl:port>
    <wsdl:port name="UWPCSSEWebService2018Soap12" binding="tns:UWPCSSEWebService2018Soap12">
      <soap12:address location="https://alpha.ion.uwplatt.edu/balcerowskid/UWPCSSEWebservice2018.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>